table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th 
  {
    width: 25%;
  }

  td
  {
    font-size: 1em;
  }

  th
  {
    color: black;
    font-size: 1.2em;
  }