<h2 mat-dialog-title>Ajouter object(s)</h2>

<mat-dialog-content>

  <form #e="ngForm" class="container-fluid">

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nombre d'objet: </mat-label>
      <input #nb matInput name="nbObj" (keyup)="AjouterInput(+nb.value)" type="number" ngModel required>
    </mat-form-field>

    <div *ngFor="let element of listeInput; let i = index">

      <br>
      <h2>Item n° {{ i + 1 }}</h2>
      <br>

      <!-- type object -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Type de l'object</mat-label>
        <mat-select #selectType [name]="element.nameTypeObj" ngModel required>
          <mat-option *ngFor="let element of listeType" [value]="element.idType">{{ element.nomType }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- nom objet -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nom</mat-label>
        <input #nom matInput [name]="element.nameObj" type="text" placeholder="Nom de l'objet" maxlength="50" ngModel required>
        <mat-hint align="end">{{ nom.value.length }} / 50</mat-hint>
      </mat-form-field>

      <p>Appartient a:</p>

      <!-- faction -->
      <mat-radio-group color="primary" [name]="element.nameCheck" ngModel required>
        <mat-radio-button *ngFor="let element of listeFaction" [value]="element.idFaction">{{ element.nomFaction }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="AjouterItem(e)" [disabled]="e.invalid">Ajouter</button>&nbsp;
  <button mat-button mat-dialog-close color="warn">Fermer</button>
</mat-dialog-actions>